@page "/calendar"
@using MainHub.Internal.PeopleAndCulture.App.Models;
@using PeopleAndCulture.App.Repository
@using Common;
@using System.Globalization
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<AbsentManagement.Resources.Resource> localizer



@attribute [Authorize(Roles = "SkillHub.User")]
<PageTitle>@localizer["Calendar"]</PageTitle>

@if (_isLoading)
{
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-4 text-center">
            <img src="assets/img/mainhub__logo_yellow_grey_trans.png" alt="MainHub logo" class="img-fluid" />
            <p class="loading-text">@localizer["Loading..."]</p>
        </div>
        <div class="col-6 text-center">
            <img src="assets/img/loadingMan.gif" class="img-fluid" style="border: none;" />
        </div>
    </div>
}
else
{
    <RadzenRow>
        <RadzenBreadCrumb>
            <RadzenBreadCrumbItem Path="/dashboard" Text="@localizer["DashBoard"]" />
            <RadzenBreadCrumbItem Path="/calendar" Text="@localizer["Calendar"]" />
        </RadzenBreadCrumb>
    </RadzenRow>
    <RadzenScheduler @ref=@_scheduler SlotRender=@OnSlotRender Style="height: calc(100vh - 200px);z-index:0;position: relative" TItem="AbsenceModel"
    Data=@_absences.absences StartProperty="AbsenceStart" EndProperty="AbsenceEnd"
                 TextProperty="AbsenceType" SelectedIndex="1" LoadData="@LoadData"
                 SlotSelect=@OnSlotSelect AppointmentSelect=@OnAppointmentSelect AppointmentRender=@OnAppointmentRender Culture=@_culture>
        <RadzenWeekView />
        <RadzenMonthView />
        <RadzenYearTimelineView />
        <RadzenYearPlannerView />
        <div class="d-flex justify-content-between">
            <div class="mb-1 d-flex">
                <RadzenButton Text="@localizer["SubmitAllDrafts"]" ButtonStyle="ButtonStyle.Info" Click="SubmitAllDraft" />
                <div class="justify-content-center d-flex align-content-center align-items-center m-lg-1">
                     <RadzenIcon Icon="help_outline" class="text-dark" Text="?" ButtonStyle="ButtonStyle.Light" MouseEnter="(args => ShowHelpTooltip(args,new TooltipOptions(){ Duration = 6500 }) ) " />
                </div>
            </div>
            <div class="d-flex pt-2">
                <span class="ml-auto"> 🟢@localizer["Approved"] </span>
                <span> 🟡@localizer["Draft"] </span>
                <span> 🔴@localizer["Rejected"] </span>
                <span> 🔵@localizer["Submitted"] </span>
            </div>
        </div>

    </RadzenScheduler>
}
