@page "/profile"
@using MainHub.Internal.PeopleAndCulture.TimesheetManagement.Resources;
@using MainHub.Internal.PeopleAndCulture.TimesheetManagement.Shared.Private;
@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.Graph;
@using Microsoft.Identity.Web;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<Resource> _localizer;
@attribute [Authorize(Roles = "SkillHub.User")]
@layout PrivateMainLayout
<PageTitle>@_localizer["Profile"]</PageTitle>

<h3>@_localizer["UserProfile"]</h3>

@if (_user == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        @if (!string.IsNullOrEmpty(_photo))
                        {
                            <img class="img-profile img-fluid mb-3" src="data:image/jpeg;base64, @_photo" />
                        }
                        else
                        {
                            <img class="img-profile img-fluid mb-3" src="/assets/img/undraw_profile.svg" />
                        }
                        <h5 class="card-title">@_user.DisplayName</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@_user.UserPrincipalName</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@_localizer["ProfileInformation"]</h5>
                        <hr />
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@_localizer["Name"]:</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @if (!string.IsNullOrEmpty(_user.GivenName))
                                {
                                    @_user.GivenName
                                }
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@_localizer["Surname"]</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @if (!string.IsNullOrEmpty(_user.Surname))
                                {
                                    @_user.Surname
                                }
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@_localizer["UserPrincipalName"]</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @_user.UserPrincipalName
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@_localizer["UserGuid"]</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @_user.Id
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
