@page "/approval"
@attribute [Authorize(Roles = "SkillHub.Supervisor")]
@using MainHub.Internal.PeopleAndCulture.Common;
@using MainHub.Internal.PeopleAndCulture.TimesheetManagement.Shared.Private;
@using MainHub.Internal.PeopleAndCulture.TimesheetManagement.Resources;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<Resource> _localizer;
@layout PrivateMainLayout
<PageTitle>@_localizer["SubmittedTimesheets"]</PageTitle>

<div class="rz-link-text mt-3">
    <RadzenBreadCrumb>
        <RadzenBreadCrumbItem Path="/admindashboard" Text="@_localizer["AdminDashboard"]" />
        <RadzenBreadCrumbItem Path="/approval" Text="@_localizer["Approval"]" />
    </RadzenBreadCrumb>
</div>
<div class="container" style="margin-top: -20px">
    <h2 class="text-center my-1">@_localizer["SubmittedTimesheets"]</h2>
    <RadzenIcon Icon="help_outline" class="text-dark" Text="?" ButtonStyle="ButtonStyle.Light" MouseEnter="(args => ShowHelpTooltip(args,new TooltipOptions(){ Duration = 3000 }) ) " />
    <RadzenDataGrid AllowPaging="true"
                    LoadData="@LoadData"
                    AllowFiltering="true"
                    AllowColumnResize="true"
                    AllowAlternatingRows="false"
                    FilterMode="FilterMode.Simple"
                    AllowSorting="true"
                    PagerHorizontalAlign="HorizontalAlign.Justify"
                    ShowPagingSummary="true"
                    Data="@_timesheets.timesheets"
                    TItem="TimesheetModel"
                    ColumnWidth="300px"
                    Count=@Count
                    PageSize=@PageSize
                    IsLoading="@_isLoading"
                    RowDoubleClick="(args) => OnRowDoubleClick(args.Data.TimesheetGUID, args.Data.PersonGUID)">
        <Columns>
            <RadzenDataGridColumn TItem="TimesheetModel" Property="PersonName" Title="@_localizer["Name"]" Width="150px" Resizable="false" Frozen="true" Filterable="false" />
            <RadzenDataGridColumn TItem="TimesheetModel" Property="Year" Title="@_localizer["Year"]" Width="90px" Resizable="false" Filterable="false" />
            <RadzenDataGridColumn TItem="TimesheetModel" Property="Month" Title="@_localizer["Month"]" Width="90px" Resizable="false" Filterable="false" />
            <RadzenDataGridColumn TItem="TimesheetModel" Property="ApprovalStatus" Title="@_localizer["StatusTable"]" Resizable="false" Filterable="false" FormatString="{0:d}" Width="110px" />
            <RadzenDataGridColumn TItem="TimesheetModel" Property="DateOfSubmission" Title="@_localizer["SubmissionDateTable"]" Resizable="false" Filterable="false" FormatString="{0:d}" Width="130px" />
            <RadzenDataGridColumn TItem="TimesheetModel" Title="@_localizer["Actions"]" Resizable="false" Width="80px" Filterable="false" Sortable="false">
                <Template Context="timesheet">
                        <div class="d-flex justify-content-center">
                            <RadzenButton class="btn btn-sm m-2 justify-content-center d-flex align-items-center" style="width: 25px;" Click="()=>ApproveTimesheet(timesheet.TimesheetGUID)" ButtonStyle="ButtonStyle.Success">
                                <i class="fas fa-check"></i>
                            </RadzenButton>
                            <RadzenButton class="btn btn-sm m-2 justify-content-center d-flex align-items-center" Click="()=>RejectTimesheet(timesheet.TimesheetGUID)" ButtonStyle="ButtonStyle.Danger">
                                <i class="fas fa-times"></i>
                            </RadzenButton>
                        </div>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>

</div>
